In [1]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

pd.options.display.max_columns = 999
pd.options.display.max_rows = 1999
pd.options.display.max_colwidth = 200

In [2]:
def get_tables(tables):
    df = pd.DataFrame()
    for tb in tables:

        if type(tb.columns) == pd.core.indexes.multi.MultiIndex:
            cols = [col[0] for col in tb.columns]
            tb.columns = cols

        if "TOTALIZAÇÃO" not in tb.columns:
            tipo = tb.columns[0]
            unnamed_col = [col for col in tb if "Unnamed" in col]
            unnamed = unnamed_col[0] if unnamed_col != [] else ""

            if unnamed != "":
                tb = tb[tb[unnamed].isnull()]
                tb = tb.drop(unnamed_col, 1)
            tb["TIPO"] = tipo
            tb = tb.rename(columns={tipo: "ESCOLAS"})
            df = pd.concat([df, tb])

    cols = ["ESCOLAS", "JURADO 01", "JURADO 02", "JURADO 03", "JURADO 04", "TIPO"]
    for col in cols:
        if col not in df.columns:
            df[col] = np.nan

    return df[cols]


def pos_treatment(df):

    cols = ["escola", "jurado_1", "jurado_2", "jurado_3", "jurado_4", "tipo", "ano"]
    df.columns = cols

    cols = ["ano", "escola", "tipo", "jurado_1", "jurado_2", "jurado_3", "jurado_4"]
    df = df[cols]

    mask = df["jurado_1"].notnull()
    df = df[mask]

    mask = df["jurado_1"].str.contains("Jurado")
    df = df[np.logical_not(mask)]

    cols = ["jurado_1", "jurado_2", "jurado_3", "jurado_4"]
    for col in cols:
        df[col] = pd.to_numeric(df[col], errors="coerce")

    return df

In [3]:
anos = list(range(1968, 2021)) + list(range(2022,2023))
df_final = pd.DataFrame()

for ano in anos:
    url = f"https://galeriadosamba.com.br/carnaval/{ano}/notas/"
    print(ano, url)
    try:
        tables = pd.read_html(url)
        dd = get_tables(tables)
        dd["ano"] = ano
        df_final = pd.concat([df_final, dd])
    except Exception:
        pass

df = pos_treatment(df_final)

1968 https://galeriadosamba.com.br/carnaval/1968/notas/
1969 https://galeriadosamba.com.br/carnaval/1969/notas/
1970 https://galeriadosamba.com.br/carnaval/1970/notas/
1971 https://galeriadosamba.com.br/carnaval/1971/notas/
1972 https://galeriadosamba.com.br/carnaval/1972/notas/
1973 https://galeriadosamba.com.br/carnaval/1973/notas/
1974 https://galeriadosamba.com.br/carnaval/1974/notas/
1975 https://galeriadosamba.com.br/carnaval/1975/notas/
1976 https://galeriadosamba.com.br/carnaval/1976/notas/
1977 https://galeriadosamba.com.br/carnaval/1977/notas/
1978 https://galeriadosamba.com.br/carnaval/1978/notas/
1979 https://galeriadosamba.com.br/carnaval/1979/notas/
1980 https://galeriadosamba.com.br/carnaval/1980/notas/
1981 https://galeriadosamba.com.br/carnaval/1981/notas/
1982 https://galeriadosamba.com.br/carnaval/1982/notas/
1983 https://galeriadosamba.com.br/carnaval/1983/notas/
1984 https://galeriadosamba.com.br/carnaval/1984/notas/
1985 https://galeriadosamba.com.br/carnaval/1985/notas/
1986 https://galeriadosamba.com.br/carnaval/1986/notas/
1987 https://galeriadosamba.com.br/carnaval/1987/notas/
1988 https://galeriadosamba.com.br/carnaval/1988/notas/
1989 https://galeriadosamba.com.br/carnaval/1989/notas/
1990 https://galeriadosamba.com.br/carnaval/1990/notas/
1991 https://galeriadosamba.com.br/carnaval/1991/notas/
1992 https://galeriadosamba.com.br/carnaval/1992/notas/
1993 https://galeriadosamba.com.br/carnaval/1993/notas/
1994 https://galeriadosamba.com.br/carnaval/1994/notas/
1995 https://galeriadosamba.com.br/carnaval/1995/notas/
1996 https://galeriadosamba.com.br/carnaval/1996/notas/
1997 https://galeriadosamba.com.br/carnaval/1997/notas/
1998 https://galeriadosamba.com.br/carnaval/1998/notas/
1999 https://galeriadosamba.com.br/carnaval/1999/notas/
2000 https://galeriadosamba.com.br/carnaval/2000/notas/
2001 https://galeriadosamba.com.br/carnaval/2001/notas/
2002 https://galeriadosamba.com.br/carnaval/2002/notas/
2003 https://galeriadosamba.com.br/carnaval/2003/notas/
2004 https://galeriadosamba.com.br/carnaval/2004/notas/
2005 https://galeriadosamba.com.br/carnaval/2005/notas/
2006 https://galeriadosamba.com.br/carnaval/2006/notas/
2007 https://galeriadosamba.com.br/carnaval/2007/notas/
2008 https://galeriadosamba.com.br/carnaval/2008/notas/
2009 https://galeriadosamba.com.br/carnaval/2009/notas/
2010 https://galeriadosamba.com.br/carnaval/2010/notas/
2011 https://galeriadosamba.com.br/carnaval/2011/notas/
2012 https://galeriadosamba.com.br/carnaval/2012/notas/
2013 https://galeriadosamba.com.br/carnaval/2013/notas/
2014 https://galeriadosamba.com.br/carnaval/2014/notas/
2015 https://galeriadosamba.com.br/carnaval/2015/notas/
2016 https://galeriadosamba.com.br/carnaval/2016/notas/
2017 https://galeriadosamba.com.br/carnaval/2017/notas/
2018 https://galeriadosamba.com.br/carnaval/2018/notas/
2019 https://galeriadosamba.com.br/carnaval/2019/notas/
2020 https://galeriadosamba.com.br/carnaval/2020/notas/
2022 https://galeriadosamba.com.br/carnaval/2022/notas/

In [77]:
# df.to_csv('historico_notas_carnaval_rio.csv', index=False)
df = pd.read_csv('historico_notas_carnaval_rio.csv')

In [82]:
cols = ["jurado_1", "jurado_2", "jurado_3", "jurado_4"]

df["menor_nota"] = np.sort(df[cols], axis=1)[:, :1].T[0] * -1
df["nota_final"] = df[cols + ["menor_nota"]].sum(axis=1)

df[["ano", "escola", "nota_final"]].groupby(
    ["escola", "ano"], as_index=False
).sum().sort_values(by=["ano", "nota_final"], ascending=False).drop_duplicates("ano")



# Esses dados nao estao fazendo muito sentido, com repeticao de notas a partir de 2018
# alem de aparentemente as notas contabilizacao da nota final mudou em algum periodo

                                    escola   ano  nota_final
154                Beija-Flor de Nilópolis  2022       269.6
153                Beija-Flor de Nilópolis  2020       269.6
152                Beija-Flor de Nilópolis  2019       269.6
151                Beija-Flor de Nilópolis  2018       269.6
495                                Portela  2017       269.9
237          Estação Primeira de Mangueira  2016       269.8
270                          Estácio de Sá  2015       299.7
713                    Unidos do Viradouro  2014       299.9
652                  Unidos de Vila Isabel  2013       299.7
582                       Unidos da Tijuca  2012       299.9
144                Beija-Flor de Nilópolis  2011       299.8
580                       Unidos da Tijuca  2010       299.9
87                 Acadêmicos do Salgueiro  2009       299.8
141                Beija-Flor de Nilópolis  2008       299.7
140                Beija-Flor de Nilópolis  2007       300.0
34                Acadêmicos do Grande Rio  2006       299.6
138                Beija-Flor de Nilópolis  2005       300.0
706                    Unidos do Viradouro  2004       299.8
136                Beija-Flor de Nilópolis  2003       300.0
135                Beija-Flor de Nilópolis  2002       300.0
134                Beija-Flor de Nilópolis  2001       200.0
133                Beija-Flor de Nilópolis  2000       200.0
132                Beija-Flor de Nilópolis  1999       180.0
131                Beija-Flor de Nilópolis  1998       270.0
699                    Unidos do Viradouro  1997       270.0
415  Mocidade Independente de Padre Miguel  1996       300.0
296               Imperatriz Leopoldinense  1995       300.0
295               Imperatriz Leopoldinense  1994       200.0
71                 Acadêmicos do Salgueiro  1993       200.0
261                          Estácio de Sá  1992       200.0
69                 Acadêmicos do Salgueiro  1991       199.5
409  Mocidade Independente de Padre Miguel  1990       200.0
122                Beija-Flor de Nilópolis  1989       200.0
630                  Unidos de Vila Isabel  1988       299.0
208          Estação Primeira de Mangueira  1987       299.0
207          Estação Primeira de Mangueira  1986       100.0
404  Mocidade Independente de Padre Miguel  1985       100.0
285               Imperatriz Leopoldinense  1981        83.0
0             Acadêmicos da Cidade de Deus  1980         0.0
60                 Acadêmicos do Salgueiro  1979         0.0
114                Beija-Flor de Nilópolis  1978        74.0
58                 Acadêmicos do Salgueiro  1977         0.0
57                 Acadêmicos do Salgueiro  1976         0.0
56                 Acadêmicos do Salgueiro  1975         0.0
55                 Acadêmicos do Salgueiro  1974         0.0
54                 Acadêmicos do Salgueiro  1973         0.0
53                 Acadêmicos do Salgueiro  1972         0.0
52                 Acadêmicos do Salgueiro  1971         0.0
4                 Acadêmicos de Santa Cruz  1970         0.0
50                 Acadêmicos do Salgueiro  1969        10.0
49                 Acadêmicos do Salgueiro  1968        10.0